{% extends "layout.html" %}
{% block pageTitle %}
Claims and recoveries
{% endblock %}


{% block beforeContent %}
<nav class="govuk-!-display-none-print">
{{govukBackLink({
  text: "Back",
  "href": "javascript: window.history.go(-1)"
  })}}
  <a href="../dps-home.html" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-3 float-right">

  </a>
</nav>
{% endblock %}

{% block content %}
<form id="form" method="post" action="search-results-24102023">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Changes saved
            </h1>
            <div class="govuk-panel__body">
              Claim ID: <br><strong>{{data.facility}}-CL1</strong>
            </div>
          </div>

          <h2 class="govuk-heading-m">What happens next</h2>
          <p class="govuk-body">
          The changes you made have been saved.
          </p>
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Back to dashboard
            </button>

          </div>
        </div>


      </div>
    </main>
  </div>


{% endblock %}
