{% extends "layout.html" %}

{% block main %}
{% block beforeContent %}
<div class="govuk-width-container">
	<nav class="govuk-!-display-none-print">
	{{govukBackLink({
	  text: "Back",
	  "href": "javascript: window.history.go(-1)"
	  })}}
	  <a href="ukef-tiles.html" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-3 float-right">
	  </a>
	</nav>
{% endblock %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-grid-column-three-thirds">
      <form method="post">
				<div class="govuk-form-group">
				  <fieldset class="govuk-fieldset">
						 	<h1 class="govuk-heading-l">
				        Choose the seconday examiner would you like to allocate to the claim?
				      </h1>
						<div id="nationality-hint" class="govuk-hint">
    			You can press back to make changes to the slected primary examiner</div>
					<div class="govuk-radios" data-module="govuk-radios">
						{% if data.allocatedPrimaryExaminer !=='Louis Armstrong'%}
							<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="organisation" name="allocatedSecondaryExaminer" type="radio" value="Louis Armstrong">
							<label class="govuk-label govuk-radios__label" for="organisation">
								Louis Armstrong
							</label>
						</div>
						{% endif %}

						{% if data.allocatedPrimaryExaminer !=='Rajesh Damodaran'%}
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="organisation-2" name="allocatedSecondaryExaminer" type="radio" value="Rajesh Damodaran">
							<label class="govuk-label govuk-radios__label" for="organisation-2">
								Rajesh Damodaran
							</label>
						</div>
						{% endif %}

						{% if data.allocatedPrimaryExaminer !=='Leona McLewis'%}
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="organisation-3" name="allocatedSecondaryExaminer" type="radio" value="Leona McLewis">
							<label class="govuk-label govuk-radios__label" for="organisation-3">
								Leona McLewis
							</label>
						</div>
						{% endif %}

						{% if data.allocatedPrimaryExaminer !=='Samir Khan'%}
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="organisation-4" name="allocatedSecondaryExaminer" type="radio" value="Samir Khan">
							<label class="govuk-label govuk-radios__label" for="organisation-4">
								Samir Khan
							</label>
						</div>
							{% endif %}
					</div>
				  </fieldset>
				</div>


          <button class="govuk-button" data-module="govuk-button">
            Confirm
          </button>

    <!--      <input type="hidden" name="cancelClaimCreation" value="false">-->
        </form>
			</div>
			</div>
      </div>
    </div>
{% endblock %}
