{% extends "layout.html" %}

{% block main %}
{% block beforeContent %}
<div class="govuk-width-container">
	<nav class="govuk-!-display-none-print">
	{{govukBackLink({
	  text: "Back",
	  "href": "javascript: window.history.go(-1)"
	  })}}
	  <a href="ukef-tiles.html" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-3 float-right">
	  </a>
	</nav>
{% endblock %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
		      <h1 class="govuk-fieldset__heading">
		    What is the amount due on the installment?
		      </h1>
		    </legend>
		    <div id="passport-issued-hint" class="govuk-hint">
		      You can always return and edit these details at any point.
					</div><br />
        <h2 class="govuk-heading-m">Principal claim calculation</h2>

				<form action="" method="post" novalidate>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Principal claim amount
						</dt>
						<dd class="govuk-summary-list__value">
							{{data.claimCalculation}}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="calculate-principal-claim-amount-change">
								Change<span class="govuk-visually-hidden"> claim amount</span>
							</a>
						</dd>
					</div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Installment
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.installmentNumber}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="calculate-principal-claim-amount-1-installment">
                Change<span class="govuk-visually-hidden"> installment</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Amount
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.grossClaimedAmount}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="calculate-principal-claim-amount-2-amount">
                Change<span class="govuk-visually-hidden"> claim amount</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Partial payment
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.partialPaymentAmount}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="calculate-principal-claim-amount-3-partial">
                Change<span class="govuk-visually-hidden">Partial Payment Amount</span>
              </a>
            </dd>
          </div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Insured percentage
						</dt>
						<dd class="govuk-summary-list__value">
							{{data.insuredAmount}}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="calculate-principal-claim-amount-3-partial">
								Change<span class="govuk-visually-hidden">Partial Payment Amount</span>
							</a>
						</dd>
					</div>
        </dl>
				<button class="govuk-button" data-module="govuk-button">
					Confirm
				</button>
        </form>
      </div>
    </div>
    </div>
{% endblock %}
