{% extends "layout.html" %}

{% block pageTitle %}
Claims and recoveries
{% endblock %}


{% block beforeContent %}
<nav class="govuk-!-display-none-print">
{{govukBackLink({
  text: "Back",
  "href": "javascript: window.history.go(-1)"
  })}}
  <a href="ukef-tiles.html" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-3 float-right">
  </a>
</nav>
{% endblock %}

{% block content %}

	<h1 class="govuk-heading-l">
  Claim examination queue
  </h1>

  <!--start-->
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title" style="font-size:1.5em">Facility {{data.facility}}</h2>
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action"> <a class="govuk-link" href="are-you-sure-create-new-claim">
            Create new claim<span class="govuk-visually-hidden">Create new claim<</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#awaiting">
             Claims awaiting examination review
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#past-claims1">
            Previously reviewed claims
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="awaiting"  style="border:none;">
        <h2 class="govuk-heading-l">Current claims</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Claim ID</th>
              <th scope="col" class="govuk-table__header">
                <div class="tooltip">Claim amount
                <span class="tooltiptext">This is the amount being claimed by the claimant</span>
              </div></th>
              <th scope="col" class="govuk-table__header">
                <div class="tooltip">Claim due date
                <span class="tooltiptext">The date by which the claim is due to be paid</span>
              </div>
            </th>





              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#">C123456</a></td>
              <td class="govuk-table__cell">£30,000</td>
              <td class="govuk-table__cell">3 Jan 2024</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag">
                  In progress
                </strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#">C553632</a></td>
              <td class="govuk-table__cell">£10,000</td>
              <td class="govuk-table__cell">2 Feb 2024</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag">
                In progress
                </strong>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="govuk-button-group">
          <a href="are-you-sure-create-new-claim">
            <button class="govuk-button" data-module="govuk-button">
              Create new claim
            </button>
          </a>
          <a href="facility-search-result">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit">
            Return to results dashboard
          </button>
          </a>
        </div>
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="reviewed" style="border:none;">
        <h2 class="govuk-heading-l">Past claims</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Claim ID</th>
              <th scope="col" class="govuk-table__header">
                <div class="tooltip">Claim amount
                <span class="tooltiptext">This is the amount being claimed by the claimant</span>
              </div>
            </th>
              <th scope="col" class="govuk-table__header">
                <div class="tooltip">Claim due date
                <span class="tooltiptext">The date by which the claim was due to be paid</span>
              </div>
            </th>
            <th scope="col" class="govuk-table__header">
              <div class="tooltip">Claim paid date
              <span class="tooltiptext">The date the claim was actually paid</span>
            </div>
          </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#">C999999</a></td>
              <td class="govuk-table__cell">£30,000</td>
              <td class="govuk-table__cell">4 Sept 2022</td>
              <td class="govuk-table__cell">3 Sept 2022</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#">C882772</a></td>
              <td class="govuk-table__cell">£20,000</td>
              <td class="govuk-table__cell">4 Jan 2021</td>
              <td class="govuk-table__cell">3 Jan 2021</td>
            </tr>
          </tbody>
        </table>
        <div class="govuk-button-group">
          <a href="are-you-sure-create-new-claim">
            <button class="govuk-button" data-module="govuk-button">
              Create new claim
            </button>
          </a>
          <a href="facility-search-result">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit">
            Return to results dashboard
          </button>
          </a>
        </div>
        </div>

  </div>
</div>  <!--
<div class="govuk-button-group">
  <button class="govuk-button" data-module="govuk-button">
    Create new claim
  </button>
  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Return to results dashboard
  </button>
</div>-->
  <!--end-->








  {% endblock %}
