{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
Update facility – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">Bank reference {{ data['facility-2-ref'] }}</span>
    <h1 class="govuk-heading-xl">
      Fees accrued
    </h1>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
        Last reported fees accrued
    </h2>
    <p class="govuk-body">GBP {{ data['facility-2-accrued'] }}</p>

    <!-- continue to next screen - payable - as it's the 1st visit to this page -->
    {% if (data['facility-2accrued-updated'] == 'no') and (data['facility-2-updated'] == 'no')  %}
    <form class="form" action="check" method="post">
    <input type="hidden" name="facility-2accrued-updated" value="yes">
    
    <!-- send to check answers screen as that is where they've just come from -->
    {% elseif (data['facility-2accrued-updated'] == 'yes') and (data['facility-2-updated'] == 'no')  %}
    <form class="form" action="check" method="post">
      
      
    <!-- send to index screen as that is where they've just come from -->
    {% elseif (data['facility-2accrued-updated'] == 'yes') and (data['facility-2-updated'] == 'yes')  %}
    <form class="form" action="index#updated" method="post">
     
    {% endif %}

      <div class="govuk-form-group">

          <label class="govuk-label govuk-label--s" for="facility-2new-accrued">
            Fees now accrued
          </label>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">GBP</div>
          <input class="govuk-input govuk-input--width-10" id="facility-2new-accrued" name="facility-2new-accrued" value='{{data["facility-2new-accrued"]}}' type="text" spellcheck="false">
        </div>
      </div>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}
      
         <!-- cancel - back to index screen as that is where they've just come from 
         {% if (data['facility-2accrued-updated'] == 'no') and (data['facility-2-updated'] == 'no')  %}
         <a class="govuk-link govuk-link--no-visited-state" href="index#updated">Cancel</a>-->
         
         <!-- cancel - back to check answers screen as that is where they've just come from 
         {% elseif (data['facility-2accrued-updated'] == 'yes') and (data['facility-2-updated'] == 'no')  %}
         <a class="govuk-link govuk-link--no-visited-state" href="check">Cancel</a>  -->
           
         <!-- cancel - back to index screen as that is where they've just come from 
         {% elseif (data['facility-2accrued-updated'] == 'yes') and (data['facility-2-updated'] == 'yes')  %}
         <a class="govuk-link govuk-link--no-visited-state" href="index#updated">Cancel</a> 
         {% endif %}-->
      </div>
    </form>
  </div>
</div>


{% endblock %}
