{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
Facility – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="/facility-list">Go back to all faclities</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">Bank reference {{ data['facility-2-ref'] }}</span>
    <h1 class="govuk-heading-xl">
      {{ data['facility-2-name'] }}
    </h1>

    <h2 class="govuk-heading-l">Overview</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Status
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">
          
          <!-- report is due and this facility has not been updated -->
          {% if ('yes' in data['report-due']) and ('no' in data['facility-2-updated']) %}
          <strong class="govuk-tag govuk-tag--red">Update required</strong>
          
          <!-- report is due and this facility has been updated -->
          {% elif ('yes' in data['report-due']) and ('yes' in data['facility-2-updated']) %}
          <strong class="govuk-tag govuk-tag--green">Update completed</strong>
          
          <!-- report is not due -->
          {% elif ('no' in data['report-due']) %}
          <strong class="govuk-tag">Update submitted</strong>
          {% endif %}

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Exporter
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">
          {{ data['facility-2-name'] }}
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Bank reference
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['facility-2-ref'] }}
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          UKEF facility ID
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['facility-2-ukef-id'] }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Product
        </dt>
        <dd class="govuk-summary-list__value">
          General export facility
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type
        </dt>
        <dd class="govuk-summary-list__value">
          Contingent facility
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Facility description
        </dt>
        <dd class="govuk-summary-list__value">
          Guarantee
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Facility base currency
        </dt>
        <dd class="govuk-summary-list__value">
          GBP
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Cover end date
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['facility-2-end-date'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      
      </dl>


      <h2 class="govuk-heading-l">Value and exposure</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Facility value
          </dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
            GBP {{ data['facility-2-limit'] }}
          </dd>
          <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            UKEF cover
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['facility-2-cover'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Maximum UKEF exposure
          </dt>
          <dd class="govuk-summary-list__value">
            GBP {{ data['facility-2-max'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
      </dl> 


    <!-- Display when updated with ability to change-->
    <!-- report is due and this facility has been updated -->
    {% if ('yes' in data['report-due']) and ('yes' in data['facility-2-updated']) %}

    <h2 class="govuk-heading-l" id="updated">Utilisation and fees &ndash; {{ data['report-month'] }}</h2>
    
    <p class="govuk-body $govuk-secondary-text-colour">Updated by {{ data['signed-in-name'] }}, {{ data['todays-date'] }}</p>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Facility utilisation
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
          GBP {{ data['facility-2new-utilisation'] }}
        </dd>
        <dd class="govuk-summary-list__actions  govuk-!-width-one-quarter">
          <a class="govuk-link" href="/facility2/utilisation">
            Change<span class="govuk-visually-hidden"> facility utilisation</span>
          </a>
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          UKEF exposure
        </dt>
        <dd class="govuk-summary-list__value">
          GBP {{ data['facility-2new-utilisation'] *0.8 }}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Fee payable to UKEF
        </dt>
        <dd class="govuk-summary-list__value">
          GBP {{ data['facility-2new-paid'] }} 
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/facility2/payable">
            Change<span class="govuk-visually-hidden"> fee payable to UKEF</span>
          </a>
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Fees accrued
        </dt>
        <dd class="govuk-summary-list__value">
          GBP {{ data['facility-2new-accrued'] }} 
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/facility2/accrued">
            Change<span class="govuk-visually-hidden"> Fees accrued</span>
          </a>
        </dd>
      </div>
    </dl>


    <h2 class="govuk-heading-l">Utilisation and fees &ndash; {{ data['last-month'] }}</h2>

    <p class="govuk-body $govuk-secondary-text-colour">Updated by {{ data['last-month-name'] }}, {{ data['1-month-ago'] }}</p>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Facility utilisation
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
          GBP {{ data['facility-2-utilisation'] }}
        </dd>
        <dd class="govuk-summary-list__actions  govuk-!-width-one-quarter">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          UKEF exposure
        </dt>
        <dd class="govuk-summary-list__value">
          GBP {{ data['facility-2-exposure'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Fee payable to UKEF
        </dt>
        <dd class="govuk-summary-list__value">
          GBP {{ data['facility-2-paid'] }} 
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Fees accrued
        </dt>
        <dd class="govuk-summary-list__value">
          GBP {{ data['facility-2-accrued'] }} 
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
    </dl>

    <!-- report is due and this facility has not been updated -->
    {% elif ('yes' in data['report-due']) and ('no' in data['facility-2-updated']) %}

    <!-- Last months report - no chqange links. Display when report is due -->
    <h2 class="govuk-heading-l">Utilisation and fees &ndash; {{ data['last-month'] }}</h2>

    <p class="govuk-body $govuk-secondary-text-colour">Updated by {{ data['last-month-name'] }}, {{ data['1-month-ago'] }}</p>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Facility utilisation
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
          GBP {{ data['facility-2-utilisation'] }}
        </dd>
        <dd class="govuk-summary-list__actions  govuk-!-width-one-quarter">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          UKEF exposure
        </dt>
        <dd class="govuk-summary-list__value">
          GBP {{ data['facility-2-exposure'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Fee payable to UKEF
        </dt>
        <dd class="govuk-summary-list__value">
          GBP {{ data['facility-2-paid'] }} 
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Fees accrued
        </dt>
        <dd class="govuk-summary-list__value">
          GBP {{ data['facility-2-accrued'] }} 
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
    </dl>

    {{ govukButton({
      text: "Update utilisation and fees",
      href: "/facility2/utilisation"
    }) }}

    <!-- report is not due show just the last months without change links-->
    {% elif ('no' in data['report-due']) %}

    <h2 class="govuk-heading-l" id="updated">Utilisation and fees &ndash; {{ data['report-month'] }}</h2>
    
    <p class="govuk-body $govuk-secondary-text-colour">Updated by {{ data['signed-in-name'] }}, {{ data['todays-date'] }}</p>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Facility utilisation
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
          GBP {{ data['facility-2new-utilisation'] }}
        </dd>
        <dd class="govuk-summary-list__actions  govuk-!-width-one-quarter">
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          UKEF exposure
        </dt>
        <dd class="govuk-summary-list__value">
          GBP {{ data['facility-2new-utilisation'] *0.8 }}
        </dd>
       
      </div>
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Fee payable to UKEF
        </dt>
        <dd class="govuk-summary-list__value">
          GBP {{ data['facility-2new-paid'] }} 
        </dd>
        <dd class="govuk-summary-list__actions">
          
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Fees accrued
        </dt>
        <dd class="govuk-summary-list__value">
          GBP {{ data['facility-2new-accrued'] }} 
        </dd>
        <dd class="govuk-summary-list__actions">
          
        </dd>
      </div>
    </dl>

    {% endif %}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
