{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
Update facility – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">Bank reference {{ data['facility-2-ref'] }}</span>
    <h1 class="govuk-heading-xl">
        Facility utilisation
    </h1>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
        Last reported facility utilisation
    </h2>
    <p class="govuk-body">GBP {{ data['facility-2-utilisation'] }}</p>

    <!-- continue to next screen - payable - as it's the 1st visit to this page -->
    {% if (data['facility-2utiisation-updated'] == 'no') and (data['facility-2-updated'] == 'no')  %}
    <form class="form" action="payable" method="post">
    <input type="hidden" name="facility-2utiisation-updated" value="yes">
    
    <!-- send to check answers screen as that is where they've just come from -->
    {% elseif (data['facility-2utiisation-updated'] == 'yes') and (data['facility-2-updated'] == 'no')  %}
    <form class="form" action="check" method="post">
      
      
    <!-- send to index screen as that is where they've just come from -->
    {% elseif (data['facility-2utiisation-updated'] == 'yes') and (data['facility-2-updated'] == 'yes')  %}
    <form class="form" action="index#updated" method="post">
     
    {% endif %}
    
      <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="facility-2new-utilisation">
            Facility utilisation
          </label>
          <div id="event-name-hint" class="govuk-hint">
            Enter the amount on {{ data['end-current-month'] }}
          </div>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">GBP</div>
          <input class="govuk-input govuk-input--width-10" id="facility-2new-utilisation" value='{{data["facility-2new-utilisation"]}}' name="facility-2new-utilisation" type="text">
        </div>
      </div>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        <!-- cancel - back to index screen as that is where they've just come from 
        {% if (data['facility-2utiisation-updated'] == 'no') and (data['facility-2-updated'] == 'no')  %}
        <a class="govuk-link govuk-link--no-visited-state" href="index#updated">Cancel</a>-->
        
        <!-- cancel - back to check answers screen as that is where they've just come from 
        {% elseif (data['facility-2utiisation-updated'] == 'yes') and (data['facility-2-updated'] == 'no')  %}
        <a class="govuk-link govuk-link--no-visited-state" href="check">Cancel</a>  -->
          
        <!-- cancel - back to index screen as that is where they've just come from 
        {% elseif (data['facility-2utiisation-updated'] == 'yes') and (data['facility-2-updated'] == 'yes')  %}
        <a class="govuk-link govuk-link--no-visited-state" href="index#updated">Cancel</a> 
        {% endif %}-->

        
      </div>
    </form>
  </div>
</div>



{% endblock %}
