{% extends "layout.html" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}
{% block primaryNavigation %}
{% endblock %}
{% block main %}
{% block beforeContent %}
<div class="govuk-width-container">
	<h1 class="govuk-heading-l govuk-!-margin-top-7">Search for a facility to add a start claim</h1>



</div>

{% endblock %}


<div class="homepage-search">
	<div class="govuk-width-container">
		<h2 class="govuk-heading-m govuk-!-margin-bottom-1">Search for a facility</h2>
		<p class="govuk-body govuk-hint"> Enter the facility ID, deal ID or company name.</p>
		<form method="post" class="horizontal-form" data-test="homepage-search-form" name="facilitySearch">
			<div class="govuk-form-group">
				<label class="govuk-label" for="keywords">
					Search term
				</label>
				<input class="govuk-input" id="keywords" name="keywords" type="text" data-test="homepage-search-keywords">
			</div>
			<div class="govuk-form-group">
				<label class="govuk-label" for="location">
					Search category
				</label>
				<select class="govuk-select" id="location" name="Home-Search" data-test="homepage-search-location">
					<option value="Home-Search">Select category</option>

					<option value="Facility ">Facility ID</option>
					<option value="Deal">Deal ID</option>
						<option value="Company">Company name</option>
						<option value="Claim">Claim ID</option>
				</select>
			</div>
			<button type="submit" class="govuk-button" data-module="govuk-button">
				Search
			</button>
		</form>
	</div>
</div>


{% endblock %}
{% block pageScripts %}
<script src="/public/javascripts/cards.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
	// $(document).ready( function() {
	// 	var $list = "ul#sortable"
	// 	$($list).sortable({
	// 		update: function(event, ui) {
	// 			var order = [];
	// 			var data = $(this).sortable('serialize');

	// 			$($list + ' li').each( function(e) {
	// 				order.push( $(this).find('a').html() );
	// 			});

	// 			console.log( order , data );
	// 		}
	// 	});
	// 	$($list).disableSelection();
	// } );
</script>
{% endblock %}
