{% extends "layout.html" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}
{% block primaryNavigation %}
{% endblock %}
{% block main %}
{% block beforeContent %}
<div class="govuk-width-container">
	<nav class="govuk-!-display-none-print">
	{{govukBackLink({
	  text: "Back",
	  "href": "javascript: window.history.go(-1)"
	  })}}
	  <a href="ukef-tiles.html" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-3 float-right">
	  </a>
	</nav>

{% if (data.claimType == 'new') %}

	<h1 class="govuk-heading-l govuk-!-margin-top-7">Search for a facility to add a new claim</h1>

{% else %}

	<h1 class="govuk-heading-l govuk-!-margin-top-7">Search for a facility to view an existing claim</h1>

{% endif %}

</div>

{% endblock %}


<div class="homepage-search">
	<div class="govuk-width-container">
		<h2 class="govuk-heading-m govuk-!-margin-bottom-1">Search for a facility</h2>

		{% if (data.claimType == 'new') %}

			<p class="govuk-body govuk-hint"> Enter the facility ID, deal ID or company name.</p>

		{% else %}

				<p class="govuk-body govuk-hint"> Enter the existing claim ID, facility ID, deal ID or company name.</p>

		{% endif %}


		<form method="post" class="horizontal-form" data-test="homepage-search-form" name="facilitySearch">
			<div class="govuk-form-group">
				<label class="govuk-label" for="keywords">
					Search term
				</label>
				<input class="govuk-input" id="keywords" name="keywords" type="text" data-test="homepage-search-keywords">
			</div>
			<div class="govuk-form-group">
				<label class="govuk-label" for="location">
					Search category
				</label>
				<select class="govuk-select" id="location" name="Home-Search" data-test="homepage-search-location">
					<option value="Home-Search">Select category</option>
					{% if (data.claimType !== 'new') %}
							<option value="Claim">Claim ID</option>
					{% endif %}
					<option value="Facility ">Facility ID</option>
					<option value="Deal">Deal ID</option>
						<option value="Company">Company name</option>



				</select>
			</div>
			<button type="submit" class="govuk-button" data-module="govuk-button">
				Search
			</button>
		</form>
	</div>
</div>


{% endblock %}
{% block pageScripts %}
<script src="/public/javascripts/cards.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
	// $(document).ready( function() {
	// 	var $list = "ul#sortable"
	// 	$($list).sortable({
	// 		update: function(event, ui) {
	// 			var order = [];
	// 			var data = $(this).sortable('serialize');

	// 			$($list + ' li').each( function(e) {
	// 				order.push( $(this).find('a').html() );
	// 			});

	// 			console.log( order , data );
	// 		}
	// 	});
	// 	$($list).disableSelection();
	// } );
</script>
{% endblock %}
