{% extends "layout.html" %}

{% block pageTitle %}
Claims and recoveries
{% endblock %}


{% block beforeContent %}
<nav class="govuk-!-display-none-print">
{{govukBackLink({
  text: "Back",
  "href": "javascript: window.history.go(-1)"
  })}}
  <a href="ukef-tiles.html" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-3 float-right">
  </a>
</nav>
{% endblock %}

{% block content %}
<form id="form" method="post" action="search-results-24102023">
	<h1 class="govuk-heading-l">

    {% if data.claimType =='new' %}
		Create new claim record for facility {{data.facility}}
    {% else %}
		Manage existing claim record for facility {{data.facility}}
    {% endif %}
  </h1>
	<p class="govuk-body">Complete the tasks below. The information entered will be automatcally saved and retained when you leave this page.</p>

  <div class="">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row" style="border-bottom:none;">
        <dt class="govuk-summary-list__key" style="width:400px;">
          Claim ID
        </dt>
        <dd class="govuk-summary-list__value">
          12341037-CL1
        </dd>
      </div>


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Show more details
          </span>
        </summary>
        <div class="govuk-details__text">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Exporter
    </dt>
    <dd class="govuk-summary-list__value">
      {{data.company}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Buyer
    </dt>
    <dd class="govuk-summary-list__value">
      {{data.buyer}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Product type
    </dt>
    <dd class="govuk-summary-list__value">
      Buyer credit (Aero)
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Bank
    </dt>
    <dd class="govuk-summary-list__value">
      {{data.bank}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Bank contact details
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">{{data.phone}}</p>
      <p class="govuk-body">bank@thebank.com</p>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Facility ID
    </dt>
    <dd class="govuk-summary-list__value">
      {{data.facility}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Deal ID
    </dt>
    <dd class="govuk-summary-list__value">
      {{data.deal}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Amount at risk
    </dt>
    <dd class="govuk-summary-list__value">
      &pound;10,000,000
    </dd>
  </div>
</div>
</details>
</dl>









<!--Pre ex-->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">1. Claim pre-examination</h2>
    <ul class="govuk-summary-card__actions">

      {% if data.section1DefaultDate %}

        {% if data.notificationsSent %}
        <span style="margin-right:50px;">
        <strong class="govuk-tag govuk-tag--green app-task-list__tag" >
          All changes automatically saved
        </strong>
        </span>

          <strong class="govuk-tag govuk-tag--green app-task-list__tag">
            Completed
          </strong>
          {% else %}
          <span style="margin-right:50px;">
          <strong class="govuk-tag govuk-tag--green app-task-list__tag" >
            All changes automatically saved
          </strong>
          </span>
          <strong class="govuk-tag govuk-tag-- app-task-list__tag">
            In progress
          </strong>
        {% endif %}

    {% else %}
    <span style="margin-right:50px;">
    <strong class="govuk-tag govuk-tag--green app-task-list__tag" >
      All changes automatically saved
    </strong>
    </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
      Not started
      </strong>

      {% endif %}

    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width:400px;">
        {% if data.setupShowNumberList =='true' %}<div style="width:40px; float:left;">1.1</div> {% endif %}
        Claim details
        {% if data.section1ClaimedAmount %}
        <div class="govuk-inset-text" style="margin-top:5px; font-weight:bold; ">

          {% if data.section1ExpectedRepeat%}
            {{'Claim type'}}
          {% endif %}

          {% if data.section1ClaimNotification%}
             <br /> {{'Claim status'}}
          {% endif %}

          {% if data.section1DefaultDate %}
            <br /> {{'Default date'}}
           {% endif %}

           {% if data.section1ClaimDueDate%}
              <br /> {{'Claim due date'}}
           {% endif %}

          {% if data.section1ClaimedAmount %}
          <br />  {{'Claim amount'}}
          {% endif %}

           {% if data.section1AmountAtRisk%}
              <br /> {{'Amount at risk'}}
           {% endif %}
        </div>
         {% endif %}
        </dt>
        <dd class="govuk-summary-list__value">
          <br /><br />

          {% if data.section1ExpectedRepeat%}
            {{data.section1ExpectedRepeat or 'Awaiting entry'}}<br />
          {% endif %}

          {% if data.section1ClaimNotification%}
            {{data.section1ClaimNotification or 'Awaiting entry'}}<br />
          {% endif %}

          {% if data.section1DefaultDate %}
           {{data.section1DefaultDate or 'Awaiting entry'}}<br />
        {% endif %}

          {% if data.section1ClaimDueDate%}
            {{data.section1ClaimDueDate or 'Awaiting data entry'}}<br />
          {% endif %}

          {% if data.section1ClaimedAmount%}
            {{'£'+data.section1ClaimedAmount or 'Awaiting entry'}}<br />
          {% endif %}

          {% if data.section1AmountAtRisk%}
            {{'£'+data.section1AmountAtRisk or 'Awaiting data entry'}}
          </dd>
          <dd class="govuk-summary-list__value" style="text-align:right;"><a href="1-pre-examination/1">View / Change details</a>

            {% else %}
            <a class="" href="1-pre-examination/1">Add details</a>
            {% endif %}

            {% if data.claimType =='Repeat claim' %}
             <a class="" href="1-pre-examination/1">Add details</a>

             {% endif %}
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:400px;">
            {% if data.setupShowNumberList =='true' %}<div style="width:40px; float:left;">1.1</div> {% endif %}
            Allocated examiners
            {% if data.allocatedPrimaryExaminer %}
            <div class="govuk-inset-text" style="margin-top:5px; font-weight:bold; ">
              {% if data.allocatedPrimaryExaminer %}
                {{'Primary Examiner'}}
              {% endif %}

              {% if data.allocatedSecondaryExaminer %}
                <br /> {{'SecondaryExaminer'}}
               {% endif %}
            </div>
             {% endif %}
            </dt>
            <dd class="govuk-summary-list__value">

              {% if data.allocatedPrimaryExaminer%}<br /><br />
                {{data.allocatedPrimaryExaminer or 'Awaiting entry'}}<br />
              {% endif %}

                {% if data.allocatedSecondaryExaminer%}
                  {{data.allocatedSecondaryExaminer or 'Awaiting data entry'}}
              </dd>
              <dd class="govuk-summary-list__value" style="text-align:right;"><a href="1-pre-examination/allocate-examiners"">View / Change details</a>

                {% else %}
                <a class="" href="1-pre-examination/allocate-examiners">Add details</a>
                {% endif %}

                {% if data.claimType =='Repeat claim' %}
                 <a class="" href="1-pre-examination/allocate-examiners">Add details</a>

                 {% endif %}
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="width:400px;">
                {% if data.setupShowNumberList =='true' %}<div style="width:40px; float:left;">1.1</div> {% endif %}
                Upload claim documents
                {% if data.uploadDocs %}
                <div class="govuk-inset-text" style="margin-top:5px; font-weight:bold; ">
                  {% if data.uploadDocs %}
                    Document 1
                  {% endif %}

                  {% if data.uploadDocs %}
                    <br /> Document 2
                   {% endif %}
                </div>
                 {% endif %}
                </dt>
                <dd class="govuk-summary-list__value">

                  {% if data.uploadDocs%}<br /><br />
                    Original claim form<br />
                  {% endif %}

                    {% if data.uploadDocs%}
                      Proof of default form
                  </dd>
                  <dd class="govuk-summary-list__value" style="text-align:right;"><a href="1-pre-examination/allocate-examiners"">View / Change details</a>

                    {% else %}
                    <a class="" href="1-pre-examination/upload-claim-form">Add details</a>
                    {% endif %}

                    {% if data.claimType =='Repeat claim' %}
                     <a class="" href="1-pre-examination/upload-claim-form">Add details</a>

                     {% endif %}
                  </div>


                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" style="width:400px;">
                    {% if data.setupShowNumberList =='true' %}<div style="width:40px; float:left;">1.1</div> {% endif %}
                    Notifications
                    {% if data.notificationsSent %} sent to
                    <div class="govuk-inset-text" style="margin-top:5px; font-weight:bold; ">
                      {% if data.notification1 %}
                        Party 1<br />
                      {% endif %}

                      {% if data.notification2 %}
                        Party 2 <br />
                       {% endif %}

                       {% if data.notification3 %}
                        Party 3<br />
                        {% endif %}

                        {% if data.notification4 %}
                          Party 4
                         {% endif %}
                    </div>
                     {% endif %}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <br /><br />
                      {% if data.notification1%}
                        Sent<br />
                      {% endif %}

                      {% if data.notification2%}
                        Sent<br />
                      {% endif %}

                      {% if data.notification3%}
                        Sent<br />
                      {% endif %}

                        {% if data.notification4%}
                          Sent
                        {% endif %}
                        {% if data.notificationsSent %}
                      </dd>
                      <dd class="govuk-summary-list__value" style="text-align:right;"><a href="1-pre-examination/notifications"">View / Change details</a>

                        {% else %}
                        <a class="" href="1-pre-examination/notifications">Add details</a>
                        {% endif %}

                        {% if data.claimType =='Repeat claim' %}
                         <a class="" href="1-pre-examination/notifications">Add details</a>

                         {% endif %}
                      </div>







    </dl>
  </div>
</div>
<!--END of pre ex-->
<!--END of pre ex-->
<!--END of pre ex-->
<!--END of pre ex-->
<!--END of pre ex-->
<!--END of pre ex-->
<!--END of pre ex-->






<!--Start of examination-->
<!--Start of examination-->
<!--Start of examination-->
<!--Start of examination-->
<!--Start of examination-->
<!--Start of examination-->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">2. Claim examination</h2>
    <ul class="govuk-summary-card__actions">

      {% if data.totalPrincipalClaimedAmount %}

        {% if data.EndofSection2 %}
        <span style="margin-right:50px;">
        <strong class="govuk-tag govuk-tag--green app-task-list__tag" >
          All changes automatically saved
        </strong>
        </span>
          <strong class="govuk-tag govuk-tag--green app-task-list__tag">
            Completed
          </strong>
          {% else %}
          <span style="margin-right:50px;">
          <strong class="govuk-tag govuk-tag--green app-task-list__tag" >
            All changes automatically saved
          </strong>
          </span>
          <strong class="govuk-tag govuk-tag-- app-task-list__tag">
            In progress
          </strong>
        {% endif %}

    {% else %}
    <span style="margin-right:50px;">
    <strong class="govuk-tag govuk-tag--green app-task-list__tag" >
      All changes automatically saved
    </strong>
    </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
      Not started
      </strong>

      {% endif %}

    </ul>
  </div>
  <div class="govuk-summary-card__content">

    <!--2.1-->
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row"   {% if data.totalPrincipalClaimedAmount %} {% else %} style="border-bottom:1px solid grey;" {% endif %}>
          <dt class="govuk-summary-list__key" style="width:400px;">

            {% if data.setupShowNumberList =='true' %}
              <div style="width:40px; float:left;">2.1</div> {% endif %}
            Principal claim amount
          </dt>
          <dd class="govuk-summary-list__value">

            {% if data.totalPrincipalClaimedAmount %}
            {{data.totalPrincipalClaimedAmount}}

          </dd>
          <dd class="govuk-summary-list__value"  style="text-align:right;">
            <a href="2-examination/1--principal-claim-amount/1">View / Change details</a>


          </dd>
        </div>
      </dl>


      <dl class="govuk-summary-list" >
        <div class="govuk-summary-list__row" style="border-bottom:1px solid grey;">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                View breakdown
              </span>
            </summary>
            <div class="govuk-details__text">
              <div class="govuk-summary-list__row" >
                <dt class="govuk-summary-list__key"  style="width:80%;">
                Installment
                </dt>
                <dd class="govuk-summary-list__value">
                {{data.installmentNumber}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Amount due
                </dt>
                <dd class="govuk-summary-list__value">
                {{data.totalPrincipalClaimedAmount or '1000'}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Partial payment
                </dt>
                <dd class="govuk-summary-list__value">
                £{{data.partialPaymentAmount or '0'}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Insured percentage
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data.insuredAmount or '0'}}%
                </dd>
              </div>
            </div>
          </details>

          {% else %}
          <a class="" href="2-examination/1--principal-claim-amount/1">Add details</a>

          {% endif %}
        </div>
      </dl>
      <!--end 2.1-->



<!--start 2.2 -->
<!--here-->
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row"   {% if data.totalAmount %} {% else %} style="border-bottom:1px solid grey;" {% endif %}>
        <dt class="govuk-summary-list__key"  style="width:400px;">
        {% if data.setupShowNumberList =='true' %}<div style="width:40px; float:left;">2.2 </div>{% endif %}
        Contractural interest amount
      </dt>
      <dd class="govuk-summary-list__value">

        {% if data.totalAmount %}
          £{{data.totalAmount}}

      </dd>
        <dd class="govuk-summary-list__value" style="text-align:right;"><a href="2-examination/2--contractual-interest-amount/1">View / Change details</a>
      </dd>
    </div>
  </dl>





  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row" style="border-bottom:1px solid grey;">
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            View breakdown
          </span>
        </summary>
        <div class="govuk-details__text">
          <div class="govuk-summary-list__row" >
            <dt class="govuk-summary-list__key" style="width:80%;">
            	Total
            </dt>
            <dd class="govuk-summary-list__value">
          £{{data.totalAmount or '100'}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Days in the year
            </dt>
            <dd class="govuk-summary-list__value">
          {{data.daysInAYear or '365'}} days
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Partial payment
            </dt>
            <dd class="govuk-summary-list__value">
            £{{data.partialPaymentAmount or '0'}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Interest start date
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.principalInterestPeriodStartDate or '01 October 2023'}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Interest end date
            </dt>
            <dd class="govuk-summary-list__value">
            {{data.principalInterestPeriodEndDate or '06 January 2024'}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Interest period days
            </dt>
            <dd class="govuk-summary-list__value">
            {{data.interestPeriod or '90'}} days
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Principal balance outstanding
            </dt>
            <dd class="govuk-summary-list__value">
              £{{data.principalBalance or '0'}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              	Reference interest rate
            </dt>
            <dd class="govuk-summary-list__value">
            {{data.referenceInterestRate or '0'}}%
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Interest rate margin
            </dt>
            <dd class="govuk-summary-list__value">
            {{data.interestRateMargin or '0'}}%
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Partial payment
            </dt>
            <dd class="govuk-summary-list__value">
            £{{data.partialInterestPaymentAmount or '0'}}
            </dd>
          </div>
        </div>
      </details>

      {% else %}
      <a class="" href="2-examination/2--contractual-interest-amount/1">Add details</a>
        {% endif %}
    </div>
  </dl>




<!--2.2 endhere-->


<!--Start 2.3-->
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row"   {% if (data.delayPrincipaltotalAmount)  %} {% else %} style="border-bottom:1px solid grey;" {% endif %}>
      <dt class="govuk-summary-list__key" style="width:400px;">

        {% if data.setupShowNumberList =='true' %}<div style="width:40px; float:left;">2.3</div> {% endif %}
      Delay interest on principal
        {% if data.delayInterestPrincipalName %}
        <br /><br />
          {{ data.delayInterestPrincipalName }}
          {% endif %}
          {% if data.delayInterestPrincipalName2 %}
          <br /><br />
            {{ data.delayInterestPrincipalName2 }}
            {% endif %}
      </dt>
      <dd class="govuk-summary-list__value">

        {% if data.delayInterestPrincipalName %}
        <br /> <br />
        {{data.delayPrincipaltotalAmount or £90}}
        {% endif %}
        {% if data.delayInterestPrincipalName2 %}
        <br /> <br />
        {{data.delayPrincipaltotalAmount or £90}}
        {% endif %}

    {% if data.delayInterestPrincipalName %}
      </dd>
        <dd class="govuk-summary-list__value" style="text-align:right;"><a href="2-examination/5--delay-principal-interest/0-interest-name">View / Change details</a>
      </dd>
    </div>
  </dl>


  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row"   {% if (data.delayPrincipaltotalAmount)  %} style="border-bottom:1px solid grey;" {% else %}  {% endif %}>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            View breakdown
          </span>
        </summary>
        <div class="govuk-details__text">
          <div class="govuk-summary-list__row" >
            <dt class="govuk-summary-list__key"  style="width:80%;">
            Principal name
            </dt>
            <dd class="govuk-summary-list__value">
             {{data.delayInterestPrincipalName or 'Principal 1'}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Amount
            </dt>
            <dd class="govuk-summary-list__value">
           £{{data.delayPrincipaltotalAmount or '100'}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Demo copy data
            </dt>
            <dd class="govuk-summary-list__value">
            Value
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Demo copy text
            </dt>
            <dd class="govuk-summary-list__value">
              Value
            </dd>
          </div>
        </div>


      {% if data.delayInterestPrincipalName2 %}
        <div class="govuk-details__text">
          <div class="govuk-summary-list__row" >
            <dt class="govuk-summary-list__key" style="width:80%;">
            Principal name
            </dt>
            <dd class="govuk-summary-list__value">
             {{data.delayInterestPrincipalName2 or 'Principal 2'}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Amount
            </dt>
            <dd class="govuk-summary-list__value">
           £{{data.delayPrincipaltotalAmount or '80'}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Demo copy data
            </dt>
            <dd class="govuk-summary-list__value">
            Value
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Demo copy text
            </dt>
            <dd class="govuk-summary-list__value">
              Value
            </dd>
          </div>
        </div>
        {% endif %}
      </details>

      {% else %}
      <a class="" href="2-examination/5--delay-principal-interest/0-interest-name">Add details</a>
        {% endif %}
    </div>
  </dl>


<!--End 2.3-->


<!--Start 2.4 -->
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row"   {% if data.interestName %} {% else %} style="border-bottom:1px solid grey;" {% endif %}>
      <dt class="govuk-summary-list__key" style="width:400px;">

        {% if data.setupShowNumberList =='true' %}<div style="width:40px; float:left;">2.4</div> {% endif %}

         Delay interest on interest paid


        {% if data.interestName %}
        <br /><br />
          {{ data.interestName }}
          {% endif %}
          {% if data.delayInterestPrincipalName2 %}
          <br /><br />
            {{ data.interestName2 }}
            {% endif %}
      </dt>
      <dd class="govuk-summary-list__value">

        {% if data.interestName %}
        <br /> <br />
          £160
        {% endif %}
        {% if data.interestName2 %}
        <br /> <br />
          £21
        {% endif %}

    {% if data.interestName %}
      </dd>
        <dd class="govuk-summary-list__value" style="text-align:right;"><a href="2-examination/9--delay-interest-on-interest-deferred/0-interest-name">View / Change details</a>
      </dd>
    </div>
  </dl>


  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row" style="border-bottom:1px solid grey;">
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            View breakdown
          </span>
        </summary>
        <div class="govuk-details__text">
          <div class="govuk-summary-list__row" >
            <dt class="govuk-summary-list__key"  style="width:80%;">
            Interest name
            </dt>
            <dd class="govuk-summary-list__value">
             {{data.delayInterestPrincipalName or 'Interest 1'}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Amount
            </dt>
            <dd class="govuk-summary-list__value">
           £{{data.delayPrincipaltotalAmount or '120'}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Demo copy data
            </dt>
            <dd class="govuk-summary-list__value">
            Value
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Demo copy text
            </dt>
            <dd class="govuk-summary-list__value">
              Value
            </dd>
          </div>
        </div>


      {% if data.delayInterestPrincipalName2 %}
        <div class="govuk-details__text">
          <div class="govuk-summary-list__row" >
            <dt class="govuk-summary-list__key"  style="width:80%;">
            Interest name
            </dt>
            <dd class="govuk-summary-list__value">
             {{data.interestName2 or 'Interest 2'}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Amount
            </dt>
            <dd class="govuk-summary-list__value">
           £{{data.delayPrincipaltotalAmount or '89'}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Demo copy data
            </dt>
            <dd class="govuk-summary-list__value">
            Value
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Demo copy text
            </dt>
            <dd class="govuk-summary-list__value">
              Value
            </dd>
          </div>
        </div>
        {% endif %}
      </details>

      {% else %}
      <a class="" href="2-examination/9--delay-interest-on-interest-deferred/0-interest-name">Add details</a>

        {% endif %}
    </div>
  </dl>


<!--End 2.4 -->


<!-- Start 2.5 -->
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row"   {% if data.totalAmount %} {% else %} style="border-bottom:1px solid grey;" {% endif %}>
        <dt class="govuk-summary-list__key"  style="width:400px;">
        {% if data.setupShowNumberList =='true' %}<div style="width:40px; float:left;">2.5 </div>{% endif %}
        Total claim amount
      </dt>
      <dd class="govuk-summary-list__value">

        {% if data.totalClaimAmount %}
          £{{data.totalClaimAmount}}

      </dd>
        <dd class="govuk-summary-list__value" style="text-align:right;"><a href="2-examination/2--contractual-interest-amount/1-days-in-year">View / Change details</a>
      </dd>
    </div>
  </dl>
  {% else %}
  Awaiting completion
    {% endif %}
</div>
</dl>





  <!--End 2.5 -->





<!--Start add buttons -->
<br /><br />
<div class="govuk-button-group">
<button class="govuk-button" data-module="govuk-button" type="submit"  value="no" name="addAnother">
  Add another calculation
</button>
<button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit" value="yes" name="addAnother">
  Remove a calculation
</button>
</div>




  <!--End add buttons -->


  </div>
<!--END of examination-->
<!--END of examination-->
<!--END of examination-->
<!--END of examination-->
<!--END of examination-->
<!--END of examination-->
<!--END of examination-->
<!--END of examination-->








{% endblock %}


{% block pageScripts %}
<script type="text/javascript">
	$(document).ready(function () {
		new MOJFrontend.FilterToggleButton({
			bigModeMediaQuery: "(min-width: 48.063em)",
			startHidden: true,
			toggleButton: {
				container: $(".moj-action__filter"),
				showText: "Show filter",
				hideText: "Hide filter",
				classes: "govuk-button--secondary",
			},
			closeButton: {
				container: $(".moj-filter__header-action"),
				text: "Close",
			},
			filter: {
				container: $(".moj-filter"),
			},
		});
	})
</script>



<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script>
    accessibleAutocomplete.enhanceSelectElement({
        selectElement: document.querySelector('#appointment-location-fltr'),
        showAllValues: true,
        defaultValue: '',
        autoselect: true,
        confirmOnBlur: false,
    })
</script>




<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script>
    accessibleAutocomplete.enhanceSelectElement({
        selectElement: document.querySelector('#appointment-type-fltr'),
        showAllValues: true,
        defaultValue: '',
        autoselect: true,
        confirmOnBlur: false,
    })
</script>



<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script>
    accessibleAutocomplete.enhanceSelectElement({
        selectElement: document.querySelector('#appointment-prisoner-name'),
        showAllValues: true,
        defaultValue: '',
        autoselect: true,
        confirmOnBlur: false,
    })
</script>
{% endblock %}
