{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  Facilities list – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}

  <!--{{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [
      {
        text: 'Home',
        href: '#1',
        active: true
      },
      {
        text: 'Invoices',
        href: '#2'
      }
    ]
  }) }}-->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      Facilities
    </h1>

    <p class="govuk-body">All facilities must be updated before they can be submitted to UKEF.</p>

    <!--{{ govukButton({
        text: "Show filters",
        href: "#",
        classes: "govuk-button--secondary"
      }) }}-->

    <table class="govuk-table" data-module="moj-sortable-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">Exporter</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Bank reference</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Product</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Last updated</th>
        </tr>
      </thead>
    
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COMPANY NAME 01</td>
          <td class="govuk-table__cell"><a href="#">0563427</a></td>
          <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Update completed</strong></td>
            <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COMPANY NAME 02</td>
          <td class="govuk-table__cell"><a href="#">0563573</a></td>
          <td class="govuk-table__cell">GEF</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Update completed</strong></td>
          <td class="govuk-table__cell">{{ data['todays-date'] }}</td>

        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COMPANY NAME 03</td>
          <td class="govuk-table__cell"><a href="#">0563589</a></td>
          <td class="govuk-table__cell">GEF</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Update completed</strong></td>
            <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COMPANY NAME 04</td>
          <td class="govuk-table__cell"><a href="#">0563592</a></td>
          <td class="govuk-table__cell">GEF</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Update completed</strong></td>
            <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 05</td>
            <td class="govuk-table__cell"><a href="#">0563607</a></td>
            <td class="govuk-table__cell">GEF</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Update completed</strong></td>
              <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 06</td>
            <td class="govuk-table__cell"><a href="#">0563627</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Update completed</strong></td>
            <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
  
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 07</td>
            <td class="govuk-table__cell"><a href="#">0563632</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Update completed</strong></td>
              <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 08</td>
            <td class="govuk-table__cell"><a href="#">0563649</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Update completed</strong></td>
              <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 09</td>
            <td class="govuk-table__cell"><a href="#">0563656</a></td>
            <td class="govuk-table__cell">GEF</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Update completed</strong></td>
              <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 10</td>
            <td class="govuk-table__cell"><a href="#">0563673</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Update completed</strong></td>
            <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
  
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 11</td>
            <td class="govuk-table__cell"><a href="#">0563688</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Update completed</strong></td>
            <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 12</td>
            <td class="govuk-table__cell"><a href="#">0563691</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Update required</strong></td>
            <td class="govuk-table__cell">{{ data['1-month-ago'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 13</td>
            <td class="govuk-table__cell"><a href="#">0563712</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Update completed</strong></td>
            <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
  
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 14</td>
            <td class="govuk-table__cell"><a href="#">0563725</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Update required</strong></td>
            <td class="govuk-table__cell">{{ data['1-month-ago'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 15</td>
            <td class="govuk-table__cell"><a href="#">0563738</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Update required</strong></td>
            <td class="govuk-table__cell">{{ data['1-month-ago'] }}</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 16</td>
            <td class="govuk-table__cell"><a href="#">0563749</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Update required</strong></td>
            <td class="govuk-table__cell">{{ data['1-month-ago'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 17</td>
            <td class="govuk-table__cell"><a href="#">0563752</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Update required</strong></td>
            <td class="govuk-table__cell">{{ data['1-month-ago'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 18</td>
            <td class="govuk-table__cell"><a href="#">0563768</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Update required</strong></td>
            <td class="govuk-table__cell">{{ data['1-month-ago'] }}</td>
  
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 19</td>
            <td class="govuk-table__cell"><a href="#">0563787</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Update required</strong></td>
            <td class="govuk-table__cell">{{ data['1-month-ago'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 20</td>
            <td class="govuk-table__cell"><a href="#">0563792</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Update required</strong></td>
            <td class="govuk-table__cell">{{ data['1-month-ago'] }}</td>
          </tr>
      </tbody>
    </table>

    {% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  previous: {

  },
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      current: true,
      href: "#"
    },
    {
      number: 2,
      current: false,
      href: "#"
    }
  ]
}) }}

  </div>
</div>

{% endblock %}
