{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  Facilities list – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}

  {{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [
      {
        text: 'Home',
        href: '#1',
        active: true
      },
      {
        text: 'Invoices',
        href: '#2'
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      All facilities
    </h1>

    {{ govukButton({
        text: "Show filters",
        href: "#",
        classes: "govuk-button--secondary"
      }) }}

    <table class="govuk-table" data-module="moj-sortable-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">Exporter</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">UKEF facility ID</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Product</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Last updated</th>
        </tr>
      </thead>
    
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COMPANY NAME 01</td>
          <td class="govuk-table__cell"><a href="#">0020001371</a></td>
          <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Update submitted</strong></td>
            <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COMPANY NAME 02</td>
          <td class="govuk-table__cell"><a href="#">0020001372</a></td>
          <td class="govuk-table__cell">GEF</td>
          <td class="govuk-table__cell"><strong class="govuk-tag">Update submitted</strong></td>
          <td class="govuk-table__cell">{{ data['todays-date'] }}</td>

        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COMPANY NAME 03</td>
          <td class="govuk-table__cell"><a href="#">0020001373</a></td>
          <td class="govuk-table__cell">GEF</td>
          <td class="govuk-table__cell"><strong class="govuk-tag">Update submitted</strong></td>
            <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COMPANY NAME 04</td>
          <td class="govuk-table__cell"><a href="#">0020001374</a></td>
          <td class="govuk-table__cell">GEF</td>
          <td class="govuk-table__cell"><strong class="govuk-tag">Update submitted</strong></td>
            <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 05</td>
            <td class="govuk-table__cell"><a href="#">0020001375</a></td>
            <td class="govuk-table__cell">GEF</td>
              <td class="govuk-table__cell"><strong class="govuk-tag">Update submitted</strong></td>
              <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 06</td>
            <td class="govuk-table__cell"><a href="#">0020001376</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Update submitted</strong></td>
            <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
  
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 07</td>
            <td class="govuk-table__cell"><a href="#">0020001377</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Update submitted</strong></td>
              <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 08</td>
            <td class="govuk-table__cell"><a href="#">0020001378</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Update submitted</strong></td>
              <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 09</td>
            <td class="govuk-table__cell"><a href="#">0020001379</a></td>
            <td class="govuk-table__cell">GEF</td>
              <td class="govuk-table__cell"><strong class="govuk-tag">Update submitted</strong></td>
              <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 10</td>
            <td class="govuk-table__cell"><a href="#">0020001380</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Update submitted</strong></td>
            <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
  
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 11</td>
            <td class="govuk-table__cell"><a href="#">0020001381</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Update submitted</strong></td>
              <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 12</td>
            <td class="govuk-table__cell"><a href="#">0020001382</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Update submitted</strong></td>
              <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 13</td>
            <td class="govuk-table__cell"><a href="#">0020001383</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Update submitted</strong></td>
            <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
  
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 14</td>
            <td class="govuk-table__cell"><a href="#">0020001384</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Update submitted</strong></td>
              <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 15</td>
            <td class="govuk-table__cell"><a href="#">0020001385</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Update submitted</strong></td>
              <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 16</td>
            <td class="govuk-table__cell"><a href="#">0020001386</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Update submitted</strong></td>
              <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 17</td>
            <td class="govuk-table__cell"><a href="#">0020001387</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Update submitted</strong></td>
              <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 18</td>
            <td class="govuk-table__cell"><a href="#">0020001388</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Update submitted</strong></td>
            <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
  
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 19</td>
            <td class="govuk-table__cell"><a href="#">0020001389</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Update submitted</strong></td>
              <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">COMPANY NAME 20</td>
            <td class="govuk-table__cell"><a href="#">0020001390</a></td>
            <td class="govuk-table__cell">GEF</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Update submitted</strong></td>
              <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
          </tr>
      </tbody>
    </table>

    {% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  previous: {

  },
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      current: true,
      href: "#"
    },
    {
      number: 2,
      current: false,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    }
  ]
}) }}

  </div>
</div>

{% endblock %}
