{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  Report submitted – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              
              <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                  Report submitted to UKEF
                </h1>
                <div class="govuk-panel__body">
                  Total fees due: <strong>GBP {{((data['facility-1new-paid'] | float) + (data['facility-2new-paid'] | float) + (data['facility-5new-paid'] | float) + (data['facility-4new-paid'] | float)).toFixed(2) }}</strong><br>
                  Payment reference: <strong>AB12345</strong>
                </div>
            </div>

              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Month-end report date
                  </dt>
                  <dd class="govuk-summary-list__value govuk-!-width-one-half">
                    {{ data['end-current-month'] }}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Amount payable to UKEF
                  </dt>
                  <dd class="govuk-summary-list__value">
                    GBP {{((data['facility-1new-paid'] | float) + (data['facility-2new-paid'] | float) + (data['facility-5new-paid'] | float) + (data['facility-4new-paid'] | float)).toFixed(2) }}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Payment due by
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['this-month-report-due'] }}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Payment reference
                  </dt>
                  <dd class="govuk-summary-list__value">
                    AB12345
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    SWIFT code
                  </dt>
                  <dd class="govuk-summary-list__value">
                    BANKGB22
                  </dd>
                </div>
                
              </dl>
                <p class="govuk-body">
                    <a href="facility-list" class="govuk-link">Return to all facilities</p></a> 
                </p>
            </div>
          </div>
        </main>
      </div>

    

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
  </div>
</div>

{% endblock %}
