{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  All facilities – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head.html" %}
{% endblock %}


{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

{%  if (data['report-due'] == 'yes') %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if (data['facility-1-updated'] == 'yes') and (data['facility-2-updated'] == 'yes') and (data['facility-4-updated'] == 'yes') and (data['facility-5-updated'] == 'yes') %}
    <!-- do nothing -->

    {% else %}
    <!-- display the due banner -->
    <div class="moj-banner" role="region" aria-label="information">
    
      <div class="moj-banner__message">{{ data['report-month'] }} report due by {{ data['this-month-report-due'] }} – all facilities must be updated and submitted to UKEF.</div>
    
    </div>
    
    {% endif %}
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">All facilities</h1>
      </div>
      <div class="govuk-grid-column-one-half govuk-!-text-align-right">
        <!-- display submit button when all facilities updayed -->
        {% if (data['facility-1-updated'] == 'yes') and (data['facility-2-updated'] == 'yes') and (data['facility-4-updated'] == 'yes') and (data['facility-5-updated'] == 'yes') %}
        
        {{ govukButton({
          text: "All facilities updated – continue",
          href: "summary"
        }) }}
        {% else %}
        {% endif %}
      </div>
    </div>

    <table class="govuk-table" data-module="moj-sortable-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="none">Exporter</th>
          <th scope="col" class="govuk-table__header" aria-sort="ascending">Bank ref</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Product</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Fee payable</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Last updated</th>
        </tr>
      </thead>
    
      <tbody class="govuk-table__body">
        
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ data['facility-1-name'] }}</td>
          <td class="govuk-table__cell"><a href="/facility1">{{ data['facility-1-ref'] }}</a></td>
          <td class="govuk-table__cell">GEF</td>
          <td class="govuk-table__cell">
            {%  if (data['facility-1-updated'] == 'no') %}
            -
            {% elseif (data['facility-1-updated'] == 'yes') %}
            GBP {{ data['facility-1new-paid'] }}
            {% endif %}
            </td>
          {%  if (data['facility-1-updated'] == 'yes') %}
          <!-- updated view -->
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Update completed</strong></td>
            <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
          {% else %}
          <!-- default view -->
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Update required</strong></td>
            <td class="govuk-table__cell">{{ data['1-month-ago'] }}</td>
          {% endif %}
        </tr>
  
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ data['facility-2-name'] }}</td>
          <td class="govuk-table__cell"><a href="/facility2">{{ data['facility-2-ref'] }}</a></td>
          <td class="govuk-table__cell">GEF</td>
          <td class="govuk-table__cell">
            {%  if (data['facility-2-updated'] == 'no') %}
            -
            {% elseif (data['facility-2-updated'] == 'yes') %}
            GBP {{ data['facility-2new-paid'] }}
            {% endif %}
            </td>
          {%  if (data['facility-2-updated'] == 'yes') %}
          <!-- updated view -->
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Update completed</strong></td>
            <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
          {% else %}
          <!-- default view -->
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Update required</strong></td>
            <td class="govuk-table__cell">{{ data['1-month-ago'] }}</td>
          {% endif %}
        </tr>
      
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ data['facility-4-name'] }}</td>
          <td class="govuk-table__cell"><a href="/facility4">{{ data['facility-4-ref'] }}</a></td>
          <td class="govuk-table__cell">GEF</td>
          <td class="govuk-table__cell">
            {%  if (data['facility-4-updated'] == 'no') %}
            -
            {% elseif (data['facility-4-updated'] == 'yes') %}
            GBP {{ data['facility-4new-paid'] }}
            {% endif %}
            </td>
          {%  if (data['facility-4-updated'] == 'yes')  %}
          <!-- updated view -->
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Update completed</strong></td>
            <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
          {% else %}
          <!-- default view -->
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Update required</strong></td>
            <td class="govuk-table__cell">{{ data['1-month-ago'] }}</td>
          {% endif %}
        </tr>
  
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ data['facility-5-name'] }}</td>
          <td class="govuk-table__cell"><a href="/facility5">{{ data['facility-5-ref'] }}</a></td>
          <td class="govuk-table__cell">GEF</td>
          <td class="govuk-table__cell">
            {%  if (data['facility-5-updated'] == 'no') %}
            -
            {% elseif (data['facility-5-updated'] == 'yes') %}
            GBP {{ data['facility-5new-paid'] }}
            {% endif %}
            </td>
          {%  if (data['facility-5-updated'] == 'yes')  %}
          <!-- updated view -->
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Update completed</strong></td>
            <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
          {% else %}
          <!-- default view -->
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Update required</strong></td>
            <td class="govuk-table__cell">{{ data['1-month-ago'] }}</td>
          {% endif %}
        </tr>
      </tbody>
    </table>


    <!--show facilities when report has been submitted / isn't due -->
    {% else %}

    <h1 class="govuk-heading-xl">All facilities</h1>
    
    <!--<p class="govuk-body">Next report due by {{ data['next-month-report-due'] }}.</p>-->

    <table class="govuk-table" data-module="moj-sortable-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="none">Exporter</th>
          <th scope="col" class="govuk-table__header" aria-sort="ascending">Bank ref</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Product</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Fee payable</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Last updated</th>
        </tr>
      </thead>
    
      <tbody class="govuk-table__body">
        
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ data['facility-1-name'] }}</td>
          <td class="govuk-table__cell"><a href="/facility1">{{ data['facility-1-ref'] }}</a></td>
          <td class="govuk-table__cell">GEF</td>
          <td class="govuk-table__cell">-</td>
          <td class="govuk-table__cell"><strong class="govuk-tag">Update submitted</strong></td>
          <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ data['facility-2-name'] }}</td>
          <td class="govuk-table__cell"><a href="/facility2">{{ data['facility-2-ref'] }}</a></td>
          <td class="govuk-table__cell">GEF</td>
          <td class="govuk-table__cell">-</td>
          <td class="govuk-table__cell"><strong class="govuk-tag">Update submitted</strong></td>
          <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ data['facility-4-name'] }}</td>
          <td class="govuk-table__cell"><a href="/facility4">{{ data['facility-4-ref'] }}</a></td>
          <td class="govuk-table__cell">GEF</td>
          <td class="govuk-table__cell">-</td>
          <td class="govuk-table__cell"><strong class="govuk-tag">Update submitted</strong></td>
          <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
        </tr>
      
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ data['facility-5-name'] }}</td>
          <td class="govuk-table__cell"><a href="/facility5">{{ data['facility-5-ref'] }}</a></td>
          <td class="govuk-table__cell">GEF</td>
          <td class="govuk-table__cell">-</td>
          <td class="govuk-table__cell"><strong class="govuk-tag">Update submitted</strong></td>
          <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
        </tr>
      </tbody>
    </table>
    {% endif %}

  </div>
</div>



{% endblock %}
