{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
Check – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">Bank reference {{ data['facility-5-ref'] }}</span>
    <h1 class="govuk-heading-xl">Check what you entered</h1>
    <h2 class="govuk-heading-l">Utilisation and fees &ndash; {{ data['report-month'] }}</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Facility utilisation
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
          GBP {{ data['facility-5new-utilisation'] }}
        </dd>
        <dd class="govuk-summary-list__actions  govuk-!-width-one-quarter">
          <a class="govuk-link" href="/facility5/utilisation">
            Change<span class="govuk-visually-hidden"> facility utilisation</span>
          </a>
        </dd>
      </div>
     
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Fee payable to UKEF
        </dt>
        <dd class="govuk-summary-list__value">
          GBP {{ data['facility-5new-paid'] }} 
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/facility5/payable">
            Change<span class="govuk-visually-hidden"> fee to UKEF</span>
          </a>
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Fees accrued
        </dt>
        <dd class="govuk-summary-list__value">
          GBP {{ data['facility-5new-accrued'] }} 
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/facility5/accrued">
            Change<span class="govuk-visually-hidden"> fees accrued</span>
          </a>
        </dd>
      </div>
    </dl>

    <form action="/facility-list" method="post" novalidate>
      <input type="hidden" name="facility-5-updated" value="yes">

      {{ govukButton({
        text: "Save and continue",
        value: data['facility-1-updated']
      }) }}

    </form>

  </div>
</div>

{% endblock %}
