{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
Facility – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="/facility-list">Go back to all faclities</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">Bank reference {{ data['facility-4-ref'] }}</span>
    <h1 class="govuk-heading-xl">
      {{ data['facility-4-name'] }}
    </h1>
    <h2 class="govuk-heading-l">Overview</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Status
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">
          
          <!-- report is due and this facility has not been updated -->
          {% if ('yes' in data['report-due']) and ('no' in data['facility-4-updated']) %}
          <strong class="govuk-tag govuk-tag--red">Update required</strong>
          
          <!-- report is due and this facility has been updated -->
          {% elif ('yes' in data['report-due']) and ('yes' in data['facility-4-updated']) %}
          <strong class="govuk-tag govuk-tag--green">Update completed</strong>
          
          <!-- report is not due -->
          {% elif ('no' in data['report-due']) %}
          <strong class="govuk-tag">Update submitted</strong>
          {% endif %}

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Exporter
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">
          {{ data['facility-4-name'] }}
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Bank reference
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['facility-4-ref'] }}
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          UKEF facility ID
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['facility-4-ukef-id'] }}
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Product
        </dt>
        <dd class="govuk-summary-list__value">
          General export facility
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type
        </dt>
        <dd class="govuk-summary-list__value">
          Contingent facility
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Facility description
        </dt>
        <dd class="govuk-summary-list__value">
          Guarantee
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Facility base currency
        </dt>
        <dd class="govuk-summary-list__value">
          GBP
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Cover end date
        </dt>
        <dd class="govuk-summary-list__value">
          23 July 2025
        </dd>
      </div>
      </dl>


      <h2 class="govuk-heading-l">Value and exposure</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Facility value
          </dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            GBP {{ data['facility-4-limit'] }}
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            UKEF cover
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['facility-4-cover'] }}
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Maximum UKEF exposure
          </dt>
          <dd class="govuk-summary-list__value">
            GBP {{ data['facility-4-limit'] }}
          </dd>
        </div>
      </dl> 
      
      <!-- Show the previously reported month when report is due and this facility hasn't been updated yet-->
      {% if ('yes' in data['report-due']) and ('no' in data['facility-4-updated']) %}

      <h2 class="govuk-heading-l">Utilisation and fees &ndash; {{ data['last-month'] }}</h2>

      <p class="govuk-body $govuk-secondary-text-colour">Updated by {{ data['last-month-name'] }}, {{ data['1-month-ago'] }}</p>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Facility utilisation
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
              GBP {{ data['facility-4-utilisation'] }}
            </dd>
            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              UKEF exposure
            </dt>
            <dd class="govuk-summary-list__value">
              GBP {{ data['facility-4-exposure'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Fee payable to UKEF
            </dt>
            <dd class="govuk-summary-list__value">
              GBP {{ data['facility-4-paid'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Fees accrued
            </dt>
            <dd class="govuk-summary-list__value">
              GBP {{ data['facility-4-accrued'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
        </dl>
        
        <!-- Display the text fields for the latest month-->

        <form action="/facility4/check" method="post" novalidate>
          

        <h2 class="govuk-heading-l">Update utilisation and fees</h2>

        <p class="govuk-body">Enter details for the {{ data['report-month'] }} report.</p>
          
        {% set utilisationHtml %} 
        Facility utilisation on {{ data['end-current-month'] }}
        {% endset %}

        {{ govukInput({
        id: "facility-4new-utilisation",
        name: "facility-4new-utilisation",
        label: {
          html: utilisationHtml,
          classes: "govuk-label--s",
          isPageHeading: false
        },
        prefix: {
          text: "GBP"
        },
        classes: "govuk-input--width-10",
        spellcheck: false
      }) }}

      {{ govukInput({
        id: "facility-4new-paid",
        name: "facility-4new-paid",
        label: {
          text: "Fee payable to UKEF",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        prefix: {
          text: "GBP"
        },
        classes: "govuk-input--width-10",
        spellcheck: false
      }) }}

      {{ govukInput({
        id: "facility-4new-accrued",
        name: "facility-4new-accrued",
        label: {
          text: "Fees accrued",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        prefix: {
          text: "GBP"
        },
        classes: "govuk-input--width-10",
        spellcheck: false
      }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}
          <a class="govuk-link govuk-link--no-visited-state" href="/facility-list">Cancel</a>
        </div>
      </form>
      

      <!-- Show once updates have been saved -->
      {% elif ('yes' in data['report-due']) and ('yes' in data['facility-4-updated']) %}

      <form action="/facility4/index#update" method="post" novalidate>
        

        <h2 class="govuk-heading-l" id="updated">Utilisation and fees &ndash; {{ data['report-month'] }}</h2>
      
      <p class="govuk-body $govuk-secondary-text-colour">Updated by {{ data['signed-in-name'] }}, {{ data['todays-date'] }}</p>
      <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Facility utilisation
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
              GBP {{ data['facility-4new-utilisation'] }}
            </dd>
            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
              <a class="govuk-link" href="/facility4/utilisation">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              UKEF exposure
            </dt>
            <dd class="govuk-summary-list__value">
              GBP  {{ data['facility-4new-utilisation'] * 0.8  }}     
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Fee payable to UKEF
            </dt>
            <dd class="govuk-summary-list__value">
              GBP {{ data['facility-4new-paid'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/facility4/payable">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Fees accrued
            </dt>
            <dd class="govuk-summary-list__value">
              GBP {{ data['facility-4new-accrued'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/facility4/accrued">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
        </dl>
        </form>    

        <!-- Show the previously reported month-->
      <h2 class="govuk-heading-l">Utilisation and fees &ndash; {{ data['last-month'] }}</h2>

      <p class="govuk-body $govuk-secondary-text-colour">Updated by {{ data['last-month-name'] }}, {{ data['1-month-ago'] }}</p>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Facility utilisation
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
              GBP {{ data['facility-4-utilisation'] }}
            </dd>
            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              UKEF exposure
            </dt>
            <dd class="govuk-summary-list__value">
              GBP {{ data['facility-4-exposure'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Fee payable to UKEF
            </dt>
            <dd class="govuk-summary-list__value">
              GBP {{ data['facility-4-paid'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Fee accrued
            </dt>
            <dd class="govuk-summary-list__value">
              GBP {{ data['facility-4-accrued'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
        </dl>

        <!-- report is not due show just the last months without change links-->
        {% elif ('no' in data['report-due']) %}

        <h2 class="govuk-heading-l" id="updated">Utilisation and fees &ndash; {{ data['report-month'] }}</h2>
      
      <p class="govuk-body $govuk-secondary-text-colour">Updated by {{ data['signed-in-name'] }}, {{ data['todays-date'] }}</p>
      <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Facility utilisation
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
              GBP {{ data['facility-4new-utilisation'] }}
            </dd>
            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              UKEF exposure
            </dt>
            <dd class="govuk-summary-list__value">
              GBP  {{ data['facility-4new-utilisation'] * 0.8  }}     
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Fee payable to UKEF
            </dt>
            <dd class="govuk-summary-list__value">
              GBP {{ data['facility-4new-paid'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Fees accrued
            </dt>
            <dd class="govuk-summary-list__value">
              GBP {{ data['facility-4new-accrued'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
        </dl>


        {% endif %}

      </form>
  </div>
</div>


{% endblock %}
